@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container {
  margin: 0 auto;
  width: 1110px;
}

p {
  margin-bottom: 8px;
}

span {
  font-weight: 700;
}
/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
}

.logo {
  height: 60px;
}

.btn-login {
  background: rgb(100, 149, 237);
  border-color: cornflowerblue;
  color: aliceblue;
}

.btn-login:hover {
  background: #7b68ee;
  border-color: #7b68ee;
  color: aliceblue;
}

.content {
  /* height: 100vh; */
}

/* main-page */

.main-page {
  margin-top: 10px;
}

.main-banner {
  width: 1086px;
  height: 390px;
  background-image: url(./images/little-kids-cheering-while-holding-a-white-board.jpg);
  background-size: cover;
  background-position: 50% 40%;
  margin-bottom: 20px;
}

.branch {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px;  */
  height: 200px;
  overflow: hidden;
  position: relative;
}

.branch-title {
  position: absolute;
  top: 5px;
  left: 50px;
  background: rgba(255, 255, 255, 0.671);
  padding: 10px;
  color: cornflowerblue;
}

.branch-img {
  max-height: 100%;
}

.footer {
  margin-top: 10px;
  height: 80px;
  background: cornflowerblue;
}

.sidebar {
  padding-top: 3px;
  padding-bottom: 3px;
  height: 500px;
  border-radius: 3px;
}

/* .content {
  margin-left: 25%;
} */

.btn-nav {
  width: 100%;
  border: 1px solid #e9ecf2;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn-nav .active {
  border-color: #b8cffd;
}

.info-icon {
  width: 20px;
  height: 20px;
  background: url(./images/info-icon.svg) no-repeat center;
  display: block;
  block-size: contain;
}

.delete-icon {
  width: 20px;
  height: 20px;
  background: url(./images/delete-icon.svg) no-repeat center;
  display: block;
  block-size: contain;
}

.btn-add {
  margin-top: 20px;
  background: cornflowerblue;
  border-color: cornflowerblue;
  color: aliceblue;
}

.btn-add:hover {
  background: #7b68ee;
  border-color: #7b68ee;
  color: aliceblue;
}

.group > .row {
  border: 1px solid #e9ecf2;
  border-radius: 3px;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.child > .row {
  border: 1px solid #e9ecf2;
  border-radius: 3px;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.kindergartener-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
}

.kindergartener-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  overflow: hidden;
}

.kindergartener-foto {
  max-height: 100%;
}

.daily-regime {
  padding: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.daily-regime > p {
  margin-top: 0px;
  margin-bottom: 0px;
}
