@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  
$primary-color: #6495ed;
$hover-color: #7b68ee;
$text-color: #fff;
$border-color: #e9ecf2;
$border-color-active: #b8cffd;

