@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$primary-color: #8093f1;
$hover-color: #f7aef8;
$text-color-light: #fff;
$text-color-dark: #000;
$text-color-hover: #8093f1;
$border-color: #fdc5f5;
$bgc-color-hover: #fae0f6;
$border-color-active: #72ddf7;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
// );

@mixin hover-btn {
  background: $hover-color;
  border-color: $hover-color;
  color: $text-color-light;
}

body {
  background: rgb(250, 250, 250);
}

.active {
  border-color: $border-color-active;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  min-height: calc(100vh - 130px);
}

p {
  margin-bottom: 8px;
}

span {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $text-color-dark;
  &:hover {
    color: $text-color-hover;
  }
}

h4 {
  margin: 20px 0px 20px 0px;
}

/* header */

.header {
  position: fixed;
  height: 70px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 5;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.header-content {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
}

.btn-login {
  background: $primary-color;
  border-color: $primary-color;
  color: $text-color-light;
  &:hover {
    @include hover-btn;
  }
}

.user-menu {
  background: $primary-color;
  border-color: $primary-color;
  color: $text-color-light;
  &:hover {
    @include hover-btn;
  }
}

/* main-page */

.main-page {
  margin-top: 10px;
}

.main-banner {
  width: 1086px;
  height: 390px;
  background-image: url(./images/little-kids-cheering-while-holding-a-white-board.jpg);
  background-size: cover;
  background-position: 50% 40%;
  margin-bottom: 20px;
}

.garten-title {
  width: 100%;
  background: $primary-color;
  padding: 10px;
  color: $text-color-light;
}

.garten-img {
  max-width: 100%;
}

.footer {
  margin-top: 10px;
  height: 80px;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color-light;
}

.sidebar {
  padding-top: 3px;
  padding-bottom: 3px;
  height: 500px;
  border-radius: 3px;
}

.content {
  margin: 100px 0px 30px 0px;
}

.btn-nav {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn-nav .active {
  border-color: $border-color-active;
}

.info-icon {
  width: 20px;
  height: 20px;
  background: url(./images/info-icon.svg) no-repeat center;
  display: block;
  block-size: contain;
  &:hover {
    cursor: pointer;
  }
}

.delete-icon {
  width: 20px;
  height: 20px;
  background: url(./images/delete-icon.svg) no-repeat center;
  display: block;
  block-size: contain;
  &:hover {
    cursor: pointer;
  }
}

.report-icon {
  width: 20px;
  height: 20px;
  background: url(./images/report-icon.svg) no-repeat center;
  display: block;
  block-size: contain;
  &:hover {
    cursor: pointer;
  }
}

.close {
  border: 1px solid $primary-color;
  border-radius: 3px;
  background: $primary-color;
  border-color: $primary-color;
  color: $text-color-light;
  outline: none;
  &:hover {
    @include hover-btn;
  }
}

.btn-add {
  // margin-top: 20px;
  background: $primary-color;
  border-color: $primary-color;
  color: $text-color-light;

  &:hover {
    @include hover-btn;
  }
}

.group {
  // .row {
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
  &:hover {
    background: $bgc-color-hover;
  }
  // }
}

.child {
  .row {
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 5px;
    align-items: center;
    margin-bottom: 5px;
  }
}

.kindergartener-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid $primary-color;
  border-radius: 3px;
}

.kindergartener-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.kindergartener-foto {
  max-height: 100%;
}

.daily-regime {
  padding: 20px;
  border: 1px solid $primary-color;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.daily-regime {
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.react-datepicker__input-container {
  input {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}

.group-slider {
  margin-top: 50px;
}

.slider-conteiner {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.slider-image {
  max-width: 100%;
  // max-height: 100%;
}

.register-form {
  width: 400px;
  margin: 0 auto;
}

.header-menu-link {
  display: inline;
}

.vertical-text {
  font-size: 10px;
  writing-mode: tb;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-content {
    width: 400px;
  }

  .logo {
    height: 40px;
  }

  .content {
    margin-top: 60px;
  }

  .main-banner {
    display: none;
  }

  .main-garten {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .group-info-main {
    display: none;
  }

  .kindergartener-info {
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid $primary-color;
    border-radius: 3px;
  }

  .group-slider {
    display: none;
  }

}

// @include media-breakpoint-up(sm) {
//   .garten {
//     display: block;
//   }
// }
